  /* Medium Devices, Desktops */
  @media only screen and (max-width: 1199px) {
   
    
  }
  
  /* Medium Devices, Desktops */
  @media only screen and (max-width: 992px) {

  }
  
  /* Small Devices, Tablets */
  @media only screen and (max-width: 767px) {
  
    .bannerItem h3{
        width: auto;
    }

  }
  
  /* Small Devices, Tablets */
  @media only screen and (max-width: 480px) {
      
       
  }